<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <div class="search-input">
        <br>
        <p>Search for anything in the collection</p>
        <input type="text" id="myInput" placeholder="Search" autocomplete="off">
    <br><br>
<table style="width:100%" id="myTable">
  <tr>
    <th>ID</th>
    <th>Artist Name</th>
    <th>Album / EP</th>
    <th>Genre</th>
    <th>Year</th>
    <th>Price €</th>
  </tr>
{{#each results}}
  <tr class="inputs">
      <td>{{this.id}}</td>
      <td>{{this.artistname}}</td>
      <td>{{this.album}}</td>
      <td>{{this.genre}}</td>
      <td>{{this.year}}</td>
      <td>{{this.price}}</td>
  </tr>
 {{/each}}
</table>
<form action="/" class="show-total" method="get">
    <button>Show total price</button>
</form>
{{#if pricesArr}}
    <p class="total">Total collection price: {{sum pricesArr}}</p>
    <script>
        document.querySelector('.show-total').style.display = "none";
        (function() {
            var element = document.querySelector(".total");
            console.log("element: ", element);
            element.scrollIntoView();
        }());
    </script>
{{/if}}

<br>
<div class="addEdit">
    <form action="add" method="get">
        <button>Add</button>
    </form>
    <form action="edit" method="get">
        <button>Edit</button>
    </form>
    <form action="delete" method="get">
        <button class="delete">Delete</button>
    </form>
</div>
{{#if numberNotFound}}
    <p class="numberNotFound">ID number was not found, please try again.<p>
{{/if}}

{{#if edit}}
<div class="edit">
    {{#if error}}
        <p style="color:red">Something went wrong, please try again.<p>
    {{/if}}
    <p>Edit your collection by ID</p>
    <br>
    <form action="edit" method="post" class="edit-form" id="edit-form" autocomplete="off">
        <input type="text" name="id" placeholder="ID" required>
        <input type="text" name="artistname" placeholder="Artist name" required>
        <input type="text" name="album" placeholder="Album / EP" required>
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="year" placeholder="Year">
        <input type="text" name="price" placeholder="Price">
        <br><br>
        <button>Edit info by ID</button>
    </form>
</div>
<script>
    (function() {
        var element = document.querySelector(".edit-form");
        element.scrollIntoView();
    }());
</script>
{{/if}}
{{#if add}}
<div class="add">
    {{#if error}}
        <p style="color:red">Something went wrong, please try again.<p>
    {{/if}}
    <p>Add to your collection</p>
    <br>
    <form action="addvinyl" method="post" class="add-form" id="add" autocomplete="off">
        <input type="text" name="artistname" placeholder="Artist name" required>
        <input type="text" name="album" placeholder="Album / EP" required>
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="year" placeholder="Year">
        <input type="text" name="price" placeholder="Price">
        <br><br>
        <button>Add vinyl to collection</button>
    </form>
</div>
<script>
    (function() {
        var element = document.querySelector(".add-form");
        element.scrollIntoView();
    }());
</script>
{{/if}}
{{#if delete}}
    <div>
        <form action="deletevinyl" method="post" class="delete-form" id="delete" autocomplete="off">
            <p>Insert your ID number you want to delete</p>
            <br>
            <input type="number" name="idDelete" placeholder="ID number" required>
            <p class="sure none">Are you sure you want to delete this vinyl ?</p>
            <button class="delete-after none">Delete vinyl from collection</button>
        </form>
        <br>
        <button class="delete-before">Delete vinyl from collection</button>
    </div>
    <script>
        (function() {
            var element = document.querySelector(".delete-form");
             element.scrollIntoView();
        }());
    </script>
{{/if}}
<br><br><br><br>
<h3>This is just an example, everyone can edit this collection</h3>
<script src="jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="script.js" charset="utf-8"></script>
</body>
